.header {
    height: 200px;
    width: 100%;
    background-color: #e9eef6;
    padding-top: 50px;
}

.option-tabs {
    margin-top: 30px;
    height: 40px;
    display: flex;
    justify-content: center;

    ul {
        list-style: none;
        display: flex;
        height: 100%;
        justify-content: space-between;
        gap: 50px;

        .active {
            background: #6b8e3c !important;
        }

        li {
            height: 100%;
            width: 100px;
            border: 1px solid black;
            border-radius: 20px;
            text-align: center;
            cursor: pointer;
            font-weight: 700;
            font-size: 14px;
            position: relative;
            z-index: 10;
            overflow: hidden;
            transition: all 1s ease;

            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #6b8e3c;
                transform: scaleY(0);
                transform-origin: 50% 100%;
                transition-property: transform;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
                border-radius: 25px;
            }

            &:hover {
                &::before {
                    transform: scaleY(1);
                }
            }
        }
    }
}

.task-container {
    margin-top: 30px;
    width: 100%;
    height: 400px;

    .list-tasks {
        max-width: fit-content;
        display: flex;
        gap: 30px;
    }
}