.header {
    height: 200px;
    width: 100%;
    background-color: #e9eef6;
    padding-top: 50px;
}

.option-tabs {
    margin-top: 30px;
    height: 38px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    ul {
        list-style: none;
        display: flex;
        height: 100%;
        width: 50%;
        justify-content: space-around;
        flex-wrap: wrap;

        .active {
            background: #3399CC !important;
        }

        li {
            height: 100%;
            flex-basis: 20%;
            border: 1px solid #dddd;
            border-radius: 20px;
            text-align: center;
            cursor: pointer;
            font-weight: 700;
            font-size: 14px;
            position: relative;
            z-index: 10;
            overflow: hidden;
            transition: all 1s ease;
            padding: 5px;

            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #3399CC;
                transform: scaleY(0);
                transform-origin: 50% 100%;
                transition-property: transform;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
                border-radius: 25px;
            }

            &:hover {
                &::before {
                    transform: scaleY(1);
                }
            }
        }
    }
}

.task-container {
    margin-top: 30px;
    width: 100%;
    height: 400px;

    .list-tasks {
        border-top: 1px solid #dddd;
        padding-top: 30px;
        display: flex;
        justify-content: flex-start;
        gap: 50px;
        flex-wrap: wrap;
    }
}